@import "./_breakpoints"

.container
  border: 1.5px solid white
  height: 100%
  overflow: hidden
  position: relative

.headerWrapper
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 0px 50px
  height: 100px

.headerLogo
  font-weight: 1000
  letter-spacing: 10px
  position: fixed
  top: 50px
  @include breakpoint(md-sm)
    display: none
.headerContact
  position: fixed
  right: 30px
  top: 50px
  @include breakpoint(md-sm)
    font-size: 12px
    top: 30px

  &:hover
    .navigationLineHovered
      transform: translatex(0px)
      display: block
    .headerNavigationItemText
      opacity: 1
      transition-duration: 500ms
    .navigationLine
      height: .5px

// .glitch
//   weight: 700
//   text-decoration: none
//   text-transform: uppercase
//   position: absolute
//   top: 20px
//   left: 20px
//   transform: translate(-50%, -50%)
//   margin: 0
//   color: #fff
//   letter-spacing: 5px

//   &:before, &:after
//     display: block
//     content: attr(data-glitch)
//     text-transform: uppercase
//     position: absolute
//     top: 0
//     left: 0
//     height: 100%
//     width: 100%
//     opacity: .8
//   &:after
//     color: #f0f
//     z-index: -2
//   &:before
//     color: #0ff
//     z-index: -1

//   &:hover
//     &:before
//       animation: glitch 1.3s cubic-bezier(.25, .46, .45, .94) both 5

//     &:after
//       animation: glitch 1.3s cubic-bezier(.25, .46, .45, .94) reverse both 5

// @keyframes glitch
//   0%
//     transform: translate(0)

//   20%
//     transform: translate(-3px, 3px)

//   40%
//     transform: translate(-3px, -3px)

//   60%
//     transform: translate(3px, 3px)

//   80%
//     transform: translate(3px, -3px)

//   100%
//     transform: translate(0)
